body{
    background-color: black;
}

.container{
    position: relative;
    margin-left: 30%;
}

h1{
    font-size: 160;
    font-family: monospace;
    color: brown;
}
h2{
    font-size: 80;
    font-family: monospace;
    color: brown;
}

p{
    font-size: 20;
    font-family: monospace;
}
